#spritzlet-container {
    position: fixed !important;
    display: inline-block !important;
    z-index: 2147483647 !important;
    top: 0;
    left: 35%;
    background: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
    height: auto !important;
    float: none !important;
}

#spritzlet-container iframe {
    border: 0 !important
}

#spritzlet-container .spritzlet-draghandle {
    position: absolute;
    top: 15px;
    left: 20%;
    width: 55%;
    height: 40px;
    cursor: move;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0
}
